* {
	padding: 0;
	margin: 0;
}

main {
	width: 100%;
	height: 100%;
	/* background: blue; */
	/* position: relative; */
	margin: auto;
	display: block;
}

header {
	display: flex;
	position: fixed;
	justify-content: space-between;
	width: 100%;
	height: 56px;
	/* position: fixed; 還想置中 要下面三個 */
	left: 0;
	right: 0;
	margin: auto;
	/* 字形; */
	z-index: 100; /* 增加這行，確保 header 在最上層 */
	font-size: 35px;
	font-family: 'League Gothic', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	line-height: 56px;
	background: white;
}

/* header .logo {
	display: flex;
	margin: auto 12px;
	height: 20px;
} */

#start {
	display: flex;
	align-items: center;
	/* background: red; */
	
}

#guit-button {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 10px;
	background: lightblue;
}
.material-symbols-outlined {
	margin:12px 10px;
	cursor: pointer;
}
#start .material-symbols-outlined:hover{
	/* text-align: center; */
	
	width:  30px;
	line-height: 30px;
	border-radius: 50%;
	background-color: #eeeeee;
	margin: 12px;
}
#logo {
	display: flex;
	width: 30px;
	height: 30px;

	/* background: yellow; */
}
#center {
	/* padding: 300px; */
	display: flex;
	align-items: center;
	/* background: green; */
	width: 700px;
	height: 40px;
}

#search {
	display: flex;
}
#inputbox {
	display: flex;
	/* background: yellow; */
}

form {
	display: flex;
}
input {
	display: block;
	width: 500px;
	height: 24px;
	/* 左上、右上、右下、左下 */
	border-radius: 50px 0 0 50px;
	/* line-height: 24px; */
	/* padding-left:15px; */
	text-indent: 1rem;
}
button {
	display: block;
	height: 24px;
	width: 100%;
	border-radius: 0 50% 50% 0;
}
#end {
	align-items: center;
	display: flex;
	/* background: blue; */
}

aside {
	display: block;
	position: fixed;
	left: 0;
	top: 56px;
	margin-right: 70%;
	width: 15%;
	height: calc(100vh - 56px);
	/* background: rgba(0, 0, 0, 0.5); */
	overflow: auto;
}


.side-padding {
	display: block;
	padding:10px 12px;
	/* background: lightgrey; */
	font-size: 12px;
}

#item {
	display: block;
	cursor: pointer;
	/* line-height: normal; */
	/* vertical-align: middle; */
}
#item:hover {
	margin: auto;
	padding:0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #EEEEEE;
	
}
#box {
	display: flex;
	padding: 0;
	margin: 0;
}
#box-video {
	padding: 30px;
	width: 32%;
	/* margin-left: px; */
	/* margin-right: 8px; */
	display: block;
	/* padding: 10px; */
	border-radius: 10px;
	/* background-color: lightcoral; */
	/* color: white; */
}
.guide-icon {
	display: flex;
	margin-right: 12px;
}

.title {
	display: block;
}
.login {
	/* 1. 尺寸與邊框調整 */
	margin: 0;
	width: 80px;
	/* 增加寬度以容納圖標和文字 */
	height: 30px;
	border: 1px solid #dadce0;
	/* 接近灰色的細邊框 */
	border-radius: 15px;
	/* 調整圓角半徑 */

	/* 2. Flexbox 配置 */
	display: flex;
	justify-content: center;
	/* 水平居中 */
	align-items: center;
	/* 垂直居中 */

	/* 圖標和文字之間的間距 */

	/* 3. 文字樣式 */
	font-size: 14px;
	color: #1a73e8;
	/* 藍色文字和圖標 */
	cursor: pointer;
	/* 增加鼠標指針效果 */
	padding: 0 8px;
	/* 增加左右內邊距以改善視覺效果 */
	background-color: white;
	/* 確保背景是白色 */
}
.login:hover {
	background: #dadce0;
}

.material-symbols-outlined {
	font-size: 15px;
	/* 調整圖標大小 */
	color: #1a73e8;
	/* 藍色圖標 */
}
.footer {
	color: #606060;
}
.main-content {
	width: 85%;
	height: calc(100vh - 56px);
	top: 56px;
	/* 往下掉 */
	position: relative;

	margin-left: 15%;
	color: black;
	display: flex;
	/* justify-content: space-between; */
	flex-wrap: wrap;
}

.wrap_1 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* flex-wrap: wrap; */
}
#box-video_4 {
	width: 36%;
	height: 50%;
	padding: 10px;
	margin: 0 10px;
	/* align-items: ; */
}
.wrap {
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* flex-wrap: wrap; */
}
#box-video {
	width: 36%;
	height: 50%;
	padding: 10px;
	margin: 0 10px;
	/* align-items: ; */
}
#box-video:hover {
	background-color: #aaaaaa;
	transition: 1.5s;
	/* height: 100%; */
	/* scale: 1.3; */
}
/* #box-video:not(:nth-child(3n + 3)) {
	margin: 2%;
} */
/* #box-video:nth-child(n + 4) {
	margin-top: 30px;
} */
.wrap #box-video > img {
	display: block;
	/* 將圖片轉換為區塊元素 */
	width: 100%;
	height: 100%;
	margin: auto;
	border-radius: 10px;
}
.wrap #box-video > img:hover {
	display: block;
	/* 將圖片轉換為區塊元素 */
	width: 100%;
	height: 100%;
	margin: auto;
	border-radius: 0;
}
.video-card {
	display: flex;
	position: relative;

	/* background-color: gray; */
}
#box-video .avater img {
	margin: 15px 12px;
	border-radius: 50%;
}

#box-video #caption {
	margin-top: 15px;
}

/* 
.wrap_1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	/* flex-wrap: wrap; */
.wrap_1 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* flex-wrap: wrap; */
}
#box-video_4 {
	width: 36%;
	/* height: 100%; */
	padding: 10px;
	margin: 0 10px;
	/* align-items: ; */
}
#box-video_4:hover {
	width: 36%;
	height: 200%;
	padding: 10px;
	margin: 0 10px;
	/* align-items: ; */
}